.user{
    overflow: hidden;
    display:flex;
    flex-direction:row;
    justify-content:right;
    align-items: flex-end;
}

.user-online{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    margin-top: 2%;
}

h6{
    overflow: hidden;
}

.wishlist{
    margin: 0% 1% 0% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}