.card-img-top{
    filter:grayscale(100%) !important;
}
.card-img-top:hover {
    transform: scale(1.05)  !important;
    filter:grayscale(0%) !important;
}
.card-title{overflow: hidden;}



.card-link{
    text-decoration: none;
    color:black;
}
.card-link:hover{
    text-decoration: none;
    color:black;
}