.card-img-top{
    filter:grayscale(100%) !important;
}
.card-img-top:hover {
    transform: scale(1.05)  !important;
    filter:grayscale(0%) !important;
}

.btn :hover{
    background-color: red !important;
}