.navbar-brand{
    text-decoration-style: none !important;
    text-decoration-line: none !important;
    margin-top: 0% !important;
    padding-top: 0% !important;
    color: black !important;
    overflow: hidden;
    
}